// Colors
$white = #ffffff;
$black = #000000;
$indigo = #4a0594;
$grey = #bbbcc4;
$yellow = #ffaa30;
$lightgrey = #e6ecf2;
// Sizes
$base-font-size = 13px;
// $breakpoints:(
// "phone"       = 400px,
// "phone-wide"  = 480px,
// "phablet"     = 560px,
// "tablet-small"= 640px,
// "tablet"      = 768px,
// "tablet-wide" = 1024px,
// "desktop"     = 1248px,
// "desktop-wide"= 1440px
// )
$content-size = 1240px;
// fonts
$main-font = 'Roboto', sans-serif;